body{
    font-family: Ping Fang medium;
    padding-top: 100px;
}

a, a:hover{
    text-decoration: none;
    color: #000;
}
ul, li{
    list-style-type: none;
}
nav{
    height:100px;
}
.navbar{
    background: #fff;
}

#navbar a{
     line-height: 70px;
     font-size: 1.3em;
}
#navbar span{
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
}
.navbar-header img{
    height: 70px;
}
.main{
    margin-top: 40px;
}
.rest-info {
    border-radius: 5px;
    font-size: 1.1em;
    position: relative;
    height: auto;
    height: 261px;
}
.info p{
    padding-left: 10%;

}
.rest-title {
    font-size: 1.7em;
    padding-top: 30px;
    padding-left: 10%;
    position: relative;
    z-index: 2;
    color: #fff;
}

.rest-info img {
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90%;
    border-radius: 5px;
}
.info{
    position: relative;
    padding-top: 15px;
    padding-left: 10%;
    z-index: 3;
    color:#fff;
}
.info-left, .info-right{
    float: left;
}
.info-left{
    min-width: 300px;
}
.like{
    position: absolute;
    top:5px;
    right:6%;

}
.like a{
    color: #fff;
}
@media (max-width: 768px) {
    .rest-info img{
        position: relative;
    }
    .info-left, .info-right{
        float: none;
    }
}
.nav-tabs{

    width: 100%;
    text-align: center;
    font-size: 1.3em;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
}
.nav-foodtype{
    position: relative;
    z-index: -2;
}
.nav-display{
    position: absolute;
    top:0;
    right:0;
    width: 200px;
}
.itemGroups{
    margin-left: 40px;
    width: 90%;
}
.groupTitle{
    padding-left: 50px;

}
.item{
    padding-top: 20px;
}
.item img{
    width: 100%;
    border-radius: 5px;
}
.item p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
}
@media (max-width: 480px){
    .col-xs-9{
        position: relative;
        margin-left: 50%;
        margin-right: 50%;
        float: none;

    }
}
